<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Reset Password</title>
</head>
<body>
    <div class="reset">
    <h2>Reset Your Password</h2>
    <form action="/reset-password" method="POST">
        <label for="new_password">Enter New Password (8 characters minimum):</label>
        <input type="password" id="new_password" name="new_password" minlength="8" required>

        <input type="hidden" id="email" name="email">

        <button type="submit">Reset Password</button>
    </form>
    </div>
    <script>
        let emailForReset;
        const urlParams = new URLSearchParams(window.location.search);
        const email = urlParams.get('email'); 
        if (email) {
            document.getElementById('email').value = email; 
        } else {
            alert("No email found in the URL");
        }
    </script>

</body>
</html>
